body {
	margin: 0;
	padding: 0;
	background-image:  url(http://www.godenergysystems.com/img/background.png);
    background-repeat: repeat-x;
	font-Family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
	height: 2900px;
}
#footer {
	float: left;
	height: 240px;
	width: 1000px;
	margin-top: 450px;
	color: #FFF;
	font-weight: bolder;
	font-size: 14px;
}

#sqmbx1 {
	float: left;
	height: 200px;
	width: 200px;
	color: #FFF;
	font-weight: bolder;
	font-size: 18px;
	margin-top: 5t0;
}
#f {
	float: left;
	height: 200px;
	width: 200px;
	margin-top: 50px;
	margin-left: 180px;
}
#pg1 {
	float: left;
	height: 170px;
	width: 1000px;
	font-weight: bolder;
	font-size: 25px;
	color: #F99;
	margin-top: 175px;
}
#pg2 {
	float: left;
	height: 200px;
	width: 1000px;
	font-weight: bolder;
	font-size: 24px;
	color: #3C9;
	margin-top: 150px;
}



#sqmbx2 {
	float: left;
	height: 200px;
	width: 200px;
	margin-top: 50px;
	margin-left: 10px;
}
#sqmbx3 {
	float: left;
	height: 200px;
	width: 200px;
	margin-top: 50px;
	margin-left: 10px;
}

#header1 {
	float: left;
	height: 62px;
	width: 1000px;
}
#textinfoonsite {
	float: left;
	height: 175px;
	width: 1000px;
	margin-top: 200px;
}
#c_infotext {
	float: left;
	height: 100px;
	width: 700px;
	margin-left: 150px;
	font-weight: bolder;
	font-size: 36px;
}
#infinitylogo1 {
	float: left;
	height: 30px;
	width: 40px;
	margin-left: 30px;
	margin-top: 14px;
}
#wordlogotxt {
	float: left;
	height: 30px;
	width: 350px;
	margin-top: 13px;
	margin-left: 7px;
	color: #FFF;
	font-weight: bolder;
	font-size: 24px;
}
#rightmenu1 {
	float: right;
	height: 30px;
	width: 200px;
	margin-top: 13px;
	color: #FFF;
	font-weight: bolder;
	font-size: 18px;
}
#box1 {
	float: left;
	height: 175px;
	width: 1000px;
}
#c_3boxes1 {
	float: left;
	height: 60px;
	width: 1000px;
}
#bx1 {
	float: left;
	height: 60px;
	width: 300px;
	margin-left: 160px;
	text-align: center;
}
#bx2 {
	float: left;
	height: 60px;
	width: 80px;
	text-align: center;
}
#bx3 {
	float: left;
	height: 60px;
	width: 300px;
	text-align: center;
}
#whatisit {
	float: left;
	height: 60px;
	width: 1000px;
	text-align: center;
}
#playbuttoninfo {
	float: left;
	height: 30px;
	width: 200px;
	margin-top: 15px;
	margin-left: 10px;
	font-weight: bolder;
	font-size: 18px;
}
#pplbx1 {
	float: left;
	height: 300px;
	width: 1000px;
	margin-top: 400px;
}

#button3 {
	float: left;
	height: 60px;
	width: 60px;
	margin-left: 375px;
}





a.white:link { color:#FFF; text-decoration:none; }
a.white:visited { color: #FFF; text-decoration:none; }
a.white:hover { color: #FFF; text-decoration:underline; }
a.white:active { color: #FFF; text-decoration:none; }




#header2 {
	float: left;
	height: 60px;
	width: 1000px;
}
